1.В меню возможно добавление новых пунктов.(что плохо,если оно должно быть фиксированным),но есть возможность бюыстрого расширения
Нужно дописать баззу данных меню-зафиксировать продукты и цены на них.(миграция баз данных-liquibase)

SHhared/dto/OrderDto   -—> поле имя клинета поменять на id клиента